@using ShareView.Constants
@using System.IdentityModel.Tokens.Jwt
@{
    ViewData["Title"] = "Cart Page";
    Layout = "~/Views/Shared/_Layout_Slider.cshtml";
}
@{
    decimal tongTien = 0;
}
@*@{
    //var token = Context.Request.Cookies["JwtToken"];
    var session = Context.Session.GetString(Variable.JWT);
    var userName = "";
    if (session != null)
    {
        var tokenHandler = new JwtSecurityTokenHandler();
        var userInfo = tokenHandler.ReadJwtToken(session);
        userName = (userInfo.Claims.FirstOrDefault(o => o.Type == "sub")?.Value);
    }
}*@
@{
    var token = Context.Request.Cookies[Variable.JWT_Token];
    var userName = "";
    var role = "";
    if (token != null)
    {
        var tokenHandler = new JwtSecurityTokenHandler();
        var userInfo = tokenHandler.ReadJwtToken(token);
        userName = userInfo.Claims.FirstOrDefault(o => o.Type == "sub")?.Value;
        role = (userInfo.Claims.FirstOrDefault(o => o.Type == "role")?.Value);
    }
}
<section class="cart container mt-5">
    <h3 class="">Order Details</h3>
    <form class="row" method="post" asp-controller="Cart" asp-action="CheckOut">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-6">
            <div class="form-group">
                <label for="fullName">Full Name</label>
                <input type="text"
                       name="fullName"
                       id="fullName"
                       class="form-control"
                       placeholder="Enter recipient full name" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="shippingAddress">Shipping Address</label>
                <input type="text"
                       name="shippingAddress"
                       id="shippingAddress"
                       class="form-control"
                       placeholder="Delivery address" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="text"
                       name="phone"
                       id="phone"
                       class="form-control"
                       placeholder="Recipient phone number" />
            </div>
        </div>
        <div class="col-6">
        <fieldset class="mt-0">
            <div class="form-group ">
                <label for="email">Email</label>
                <input type="text"
                       name="email"
                       id="email"
                       class="form-control"
                           value="@userName" readonly />
            </div>
        </fieldset>
        </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Products</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count == 0)
            {
            <th colspan="5" class="text-center">There are no products in the cart</th>
            }
            else
            {
                @foreach (var item in Model)
                {
                    decimal thanhTien = item.Quantity * (decimal)item.Product.Price;
                    tongTien += thanhTien;
                <tr>
                    <td>
                                @item.Product.NameProduct
                    </td>
                    <td>@item.Product.Price.ToString("#,##0 VND")</td>
                    <td class="text-center">@item.Quantity</td>
                    <td>@thanhTien.ToString("#,##0 VND")</td>
                </tr>
                }
            }
        </tbody>
    </table>
    <div class="card align-items-center mx-auto" style="width: 18rem">
        <span>Total</span>
        <span>@tongTien.ToString("#,##0 VND")</span>
    </div>
    <div class="d-flex justify-content-end">
                <button type="submit" class="ms-3 text-black p-3 bg-info rounded btn ">Checkout Now</button>
    </div>
    </form>
</section>
